.header {
  border: 10px;
  border-style: dashed;
  border-color: blue;
}

h1 {
  color: blue;
}

.new_quote {
  color: red;
  margin: 20px;
  padding: 20px;
  border-style: solid;
  border-color: green;
}
